body{
    text-align: center;
}
.container{
    background-color: antiquewhite;
    font-family: monospace,Arial, Helvetica, sans-serif;
}
h1{
    margin-top: 30px;
    color: rgb(211, 63, 10);
}
h2{
    background-color: black;
    color: greenyellow;
    width:50px;
    margin:10px auto;
    border-radius: 50%;
    padding: 10px;
}
button{
    background-color: darkslategrey;
    color: aliceblue;
    margin: auto;
    font-weight: bold;
    border-radius: 10px;
}
button:hover{
    background-color: black;
    color: greenyellow;
    cursor: pointer;
}
h2:hover{
    opacity: 0.8;
}
p{
    font-size: 32px;
    
}